{% extends "layout.html" %}
{% block content %}
<form class="form-group" method="POST" action="/create">
{% csrf_token %}
  <section class="login" id="loginid">
  	<h1 class="text-center">Game Details</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-mg-2 offset-1">

					  <div class="form-group">
					    <input type="name" class="form-control" placeholder="Game" id="name" name="name" required autocomplete="off">
					  </div>
					  <div class="form-group">
		                <select id="Package" name="package" class="form-control">
		                  <option value="Package">Select Package</option>
		                  <option value="Basic">Basic</option>
		                  <option value="Medium">Medium</option>
		                  <option value="Standard">Standard</option>
		                </select> 					  	
					  </div>
					  <div class="form-group">
		                <select id="shift" name="shift" class="form-control">
		                  <option value="shift">Select Shift</option>
		                  <option value="Morning">Morning</option>
		                  <option value="Day">Day</option>
		                  <option value="Evening">Evening</option>
		                </select>					  	
					  </div>

					  <div class="d-flex justify-content-center form-button">
					  <button type="submit" class="btn btn-primary">Submit</button>
					  </div>
				</div>	
			</div>
		</div>
</section>			
</form>
{% endblock content %}