{% extends "booking.html" %}
{% load static %}
{% block content %}


<section>
<div class="container emp-profile">
            <form class="form-group" method="POST" action="/userupdate/{{user.user_id}}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static 'images/profile.jpg' %}" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Add Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.fname}} {{user.lname}}
                                    </h5>
                                    <h6>
                                        Member of Oranze Club
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <h1>Interested Games</h1>
                            <p>Basketball</p>
                            <p>Football</p>
                            <p>Cricket</p>
                            <p>Hockey</p>
                            <p>Swimming</p>
                            <p>Boxing</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.user_id}}" name="user_id">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>First Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.fname}}" name="fname">
                                            </div>                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Last Name</label>
                                            </div>                                          
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.lname}}" name="lname">
                                            </div>
                                        </div>     
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.email}}" name="email">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Number</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.number}}" name="number">
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Username</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.user_name}}" name="user_name">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Password</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.password}}" name="password">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Repeat Password</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{user.repassword}}" name="repassword">
                                            </div>
                                        </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>          
</section>

{% endblock content %}