{% extends "layout.html" %}

{% block content %}
    <!-- tables -->
    <section>
      <div class="container-fluid">
        <div class="row mb-10">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center">
              <div class="col-xl-20 col-12 mb-4 mb-xl-0">
                <h3 class="text-muted text-center mb-3">Message</h3>
                <table class="table table-striped bg-light text-center">
                  	<tr>
          							<th>ID</th>
          							<th>Message</th>
          							<th>Email</th>
                        <th>Reply</th>						
          					</tr>
          				{% for message in messagedetail %}
          					<tr>
          							<td>{{message.id}}</td>
          							{% load static %}
          							<td>{{message.message}}</td>
          							<td>{{message.email}}</td>
                        <td><a href="/reply/{{message.id}}">Reply</a></td>		
          					</tr>
          				{% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of tables -->
    
{% endblock content %}